*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color: #333;
  color: white;
  text-transform: uppercase;
  text-align: center;
  height: 5rem;
}

.header h1{
  padding: 20px 0;
}

.myform{
  display: flex;
}

.myform .myinput{
  flex: 10;
  font-size: 2rem;
}

.myname{
  font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  letter-spacing: 2remS;
  margin: 2rem;
}